.bingo-app {
  position: relative;
}

.bingo-card,
.bingo-space {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  text-indent: 0;
}

.bingo-card {
  margin-left: 25%;
  width: 55%;
}

.bingo-space {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  margin-bottom: 1%;
  margin-right: 1%;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  width: 17%;
}

.bingo-space-checked {
  background-color: #666;
  color: #999;
  font-weight: bold;
}

.bingo-win {
  background-color: #ccc;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  bottom: 15%;
  display: none;
  left: 30%;
  margin: 0;
  padding-top: 15%;
  position: absolute;
  right: 30%;
  text-align: center;
  top: 15%;
  z-index: 9001;
}
.bingo-win-won {
  display: block;
}
