.bingo-card,
.bingo-space {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  text-indent: 0;
}

.bingo-card {
  margin-left: 25%;
  width: 55%;
}

.bingo-space {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  margin-bottom: 1%;
  margin-right: 1%;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  width: 17%;
}

.bingo-space-checked {
  background-color: #ccc;
  font-weight: bold;
}
